<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="objectFactory" type="SharpCore.Objects.ObjectFactorySectionHandler, SharpCore.Objects" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="" connectionString="" />
	</connectionStrings>

	<sharpCore>
		<objectFactory />
	</sharpCore>
</configuration>
