<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AttHealth1" connectionString="Server=.;Database=.; uid=sa; pwd=A$$une;" providerName="System.Data.SqlClient" />
		<add connectionString="Fi/XArYqr80+zB7yCf64gvUFMXjkfAz1TT88iaDkgKbfZBJiCqzsKFyLJ1BFKb6tXACIOgQJx+p+z+XEkWauoqaFMGa74+f1TNliImegSxvq8aC5SX6hgw==" name="AttHealth" providerName="System.Data.SqlClient" />
	<add name="Entities" connectionString="metadata=res://*/LISKernelModel.csdl|res://*/LISKernelModel.ssdl|res://*/LISKernelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.20;initial catalog=Diag-QA;user id=dbuser;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>