/****** Object:  Table [dbo].[IntegrationTypeMaster]    Script Date: 13-Feb-18 4:56:22 PM ******/
DROP TABLE [dbo].[IntegrationTypeMaster]
GO
/****** Object:  Table [dbo].[IntegrationTypeMaster]    Script Date: 13-Feb-18 4:56:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegrationTypeMaster](
	[IntegrationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationTypeName] [nvarchar](255) NULL,
	[IntegrationTypeCode] [nvarchar](50) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedAt] [datetime] NULL,
	[Status] [bit] NULL,
	[PrivateKey] [nvarchar](4000) NULL,
	[PublicKey] [nvarchar](4000) NULL,
 CONSTRAINT [IntegrationTypeMaster_IntegrationTypeID_PK] PRIMARY KEY CLUSTERED 
(
	[IntegrationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[IntegrationTypeMaster] ON 

GO
SET IDENTITY_INSERT [dbo].[IntegrationTypeMaster] OFF
GO
