USE [LIMS_LIVE]
GO
/****** Object:  Table [dbo].[BKA_LOGIN_69]    Script Date: 8/5/2016 3:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BKA_LOGIN_69](
	[loginID] [bigint] NOT NULL,
	[LoginName] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[StartDTTM] [datetime] NULL,
	[EndDTTM] [datetime] NULL,
	[IsLocked] [char](1) NULL,
	[HasUserChangedPassword] [char](1) NULL,
	[PasswordChangeCount] [int] NULL,
	[LastPasswordModifiedDTTM] [datetime] NULL,
	[NoOfFailureAttempts] [int] NULL,
	[OrganisationID] [bigint] NULL,
	[SecretAnswer] [varchar](100) NULL,
	[SecretQuestion] [varchar](255) NULL,
	[LastAccessedDTTM] [datetime] NULL,
	[Status] [char](1) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedAt] [datetime] NULL,
	[FilePath] [varchar](100) NULL,
	[ImageSource] [varbinary](max) NULL,
	[ThemeID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [IsFirstLogin] [char](1) NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [Transactionpasssword] [nvarchar](255) NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [LoginPwdExpDate] [datetime] NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [TransPwdExpDate] [datetime] NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [BlockedFrom] [datetime] NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [BlockedTo] [datetime] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [BlockReason] [varchar](max) NULL
ALTER TABLE [dbo].[BKA_LOGIN_69] ADD [Trans_USER_CODE] [varchar](225) NULL

GO
SET ANSI_PADDING OFF
GO
